# Python仮想環境
env/*
env_x86/*

# 環境変数
.env

# 画像解析機能
__pycache__
tempCodeRunnerFile.py
contents/
frames/
frames_*/
results/
result_*.csv
result_*.json
test_*.py

# カスタムビルドライブラリ
externals/
/lib/

# CNNモデル
model/
datasets/

# Pyinstaller
dist/
build/
*.spec

# Nuitka
*.build
*.dist
*.app
nuitka-crash-report.xml
Resources/
Info.plist
/Sichiribe.py

# create-dmg
*.dmg

# 推論結果
result_*.csv
result_*.json
parameters_*.csv
parameters_*.json

# vocode
.vscode/